@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: 'Poppins', sans-serif;*/
}

body{
  background-color: #0c0c0c;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'VT323', monospace;
}

p{
  font-family: 'VT323', monospace;

  color: white;
}

#wrapperMain{

  height: auto;
  margin: 0px auto;
}


#header{
  width: 100%;
  height: auto;
  margin: 10px auto 0px auto;
}

#header_content{
  width: 100%;
  max-width: 1000px;
  height: 60px;
  margin: 0px auto;
}

#header_content img{
vertical-align: middle;
  max-width: 75%;
}

#header_content img:hover{
 opacity:0.5; 
}



.header_item{
  width: 14%;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  float: left;

}
#head_sect_03{
margin-left: 5%;
}

#head_sect_04{
  min-width: 25%;
  text-align: left;
  margin-top: 1%;
}

.stripe_border{
  width: 100%;
  height: auto;
  padding: 0px;
  border: 0px;
  background-image: url("img/stripe_border.jpg");
  background-repeat: repeat-x;
  clear: both;
  padding-top: 2%;
}


/*---------------------------------------------------------------------*/

#video_body{
  width: 100%;
  height: auto;

}
#video_body img{
  width: 90%;
  margin: 0px auto;
  max-width: 1000px;
}

/*---------------------------------------------------------------------*/
#message_box{
  width: 90%;
  margin: 20px auto;
  max-width: 1000px;
  font-size: 45px;
  text-align: center;
}
/*---------------------------------------------------------------------*/


#rank_body{
  width: 90%;
  margin: 0px auto;
  max-width: 1000px;

  height: auto
}

.rank_label{
  font-family: 'VT323', monospace;
  color: blue;
  display: inline-block;
  color: #1a5668;
  font-size: 85px;
    margin-bottom: 0%;
    margin-left: 8%;

}

.rankCard{
  display: inline-block;
margin: auto 3%;
margin-top: 2%;
    width: 8%;
}


/*---------------------------------------------------------------------*/

#guessInput{
   width: 90%;
  margin: 0px auto;
  max-width: 1000px;
  height: auto;

}

#guessInput input{
  width: 40%;
  margin:0px 3%;
  height: 60px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: #1a5668;
  border-width: 5px;
  background-color: #161616;
  font-size: 24px;
  color: white;
}

.guess_label{
  font-family: 'VT323', monospace;
  color: blue;
  display: inline;
  color: #1a5668;
  font-size: 85px;
  margin-left: 8%;
}

.go_button{
  font-family: 'VT323', monospace;
  color: #1a5668;
  display: inline;
  font-size: 85px;
  background-color: #161616;
  border-style: solid;
  border-color: #1a5668;
  border-width: 5px;
  padding: 1px 2px;

}

.go_button:hover{
  color: #efab48;
  background-color: #161616;
}
/*---------------------------------------------------------------------*/

#depixelate{
 width: 90%;
  margin: 0px auto;
  max-width: 1000px;
  height: auto;

}


#depixelate button{
  display: block;
  margin: 0px auto;
  font-family: 'VT323', monospace;
  color: #1a5668;
  font-size: 85px;
  background-color: #161616;
  border-style: solid;
  border-color: #1a5668;
  border-width: 5px;
  padding: 1px 20px;
}

#depixelate button:hover{
  color: #efab48;
  background-color: #161616;
}